<tr class="info">
  <td><center><strong>Company</strong></center></td>
  <td><center><strong>Job Title</strong></center></td>
  <td><center><strong>Description</strong></center></td>
  <td><center><strong>Wage</strong></center></td>
  <td><center><strong>Schedule</strong></center></td>
  <td><center><strong>Hours</strong></center></td>
  <td><center><strong>Shift</strong></center></td>
  <td><center><strong>Start Date</strong></center></td>
  <td><center><strong>Est. End Date</strong></center></td>
  <td><center><strong>TE Placement Manager</strong></center></td>
  <td><center><strong>Member Working</strong></center></td>
</tr>