<tr class="info table_row">
  <td><strong>Company</strong></td>
  <td><strong>Job Title</strong></td>
  <td><strong>Description</strong></td>
  <td><strong>Wage</strong></td>
  <td><strong>Schedule</strong></td>
  <td><strong>Hours/week</strong></td>
  <td><strong>Shift</strong></td>
  <% unless params[:employment_filter] %>
    <td><strong>Employment Type</strong></td>
  <% end %>
  <td><strong>Start Date</strong></td>
  <td><strong>Est. End Date</strong></td>
  <td><strong>Placement Manager</strong></td>
  <% if logged_in? %>
    <td><strong>Member Working</strong></td>
    <td><strong>Admin</strong></td>
  <% else %>
    <td><strong>Open?</strong></td>
  <% end %>
</tr>
