<div id="listings_table">
  <%= render "#{directory}/listing_options" %>
  <table class="table table-striped">
    <%= render "#{directory}/table_header" %>
    <% @result.each do |listing| %>
      <% @found = listing %>
      <%= render "#{directory}/table_row" %>
    <% end %>
  </table>
</div>

<center><%= will_paginate @result, renderer: BootstrapPagination::Rails %></center>