<% if @first %>  
  <div id="carousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
    <!-- First logo -->
      <%= render layout: "shared/company_logos_display_block", locals:
        {result: @first} do %>
        item active
      <% end %>
    <!-- Second logo to last logo -->
      <%= render layout: "shared/company_logos_display_block", locals:
        {result: @result} do %>
        item
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <div class="logo_medium btn btn-info">
    <div class="logo_text">
      <h2>Company Logo Slideshow</h2>
    </div>
  </div>
<% end %>
