<% provide(:title, "1619(b)") %>

<div class="page-header">
  <h1>Medicaid While Working <small>Section 1619(b)</small></h1>
</div>

<h4>What is 1619(b) and how can it help?</h4>
<p>Continued Medicaid coverage, through section 1619(b), is one of the most
  important <em>SSI work incentives</em>. Section 1619(b) provides Medicaid to
  persons who lose cash SSI because countable earnings equal or exceed the SSI
  payment rate.</p>
<h4>How do you qualify?</h4>
<p>In order to qualify you must meet the all of the following criteria:</p>
<ol>
  <li>Continue to be blind or disabled.</li>
  <li>Have unearned income less than SSI limit.</li>
  <li>Have resources within SSI limits.</li>
  <li>Meet a prior month requirement.</li>
  <li>Meet a Medicaid use test.</li>
  <li>Meet and income “threshold” test.</li>
</ol>
<p class="red">For more information on 1619(b) please visit the <%= 
  link_to "Social Security Administration", "https://www.ssa.gov" %></p>
