<% provide(:title, "SSI Benefits Calculator") %>

<% javascript_include_tag "side_panel" %>

<%= render "shared/side_panel_opener" %>

<%= render layout: "shared/side_panel" do %>
  <h1>
    Supplemental Security Income (SSI) Benefits Calculator
    <br>
    <small>See how working will affect your SSI benefits</small>
  </h1>
<% end %>

<div class="page_content_box">
  <p>As a member working on a TE or an SE there may be a change in your SSI check.
    Please use the calculator below to calculate how your benefits will be
    effected.</p>
  <h4>Things to Remember:</h4>
  <ul class="list-group">
    <li class="list-group-item">• Get a “Start Letter” for any new job at the Employment Resource Center.</li>
    <li class="list-group-item">• Turn in copies of your pay stubs to the Social Security office monthly.</li>
    <li class="list-group-item">• If you do not bring in pay stubs and/or start letter you may get over paid by social security and receive an overpayment.</li>
    <li class="list-group-item">• Get a “Stop Letter” when you are coming off a job or placement from the ERC.</li>
  </ul>

  <%= render "ssi_calculator" %>

  <div id="effects-working">
    <h4>Other effects of working:</h4>
    <ul class="list-group">
      <li class="list-group-item">• Working may reduce your Food Stamps if you are making more than $150 a month.</li>
      <li class="list-group-item">• Working may affect your rent if you are in Supported Housing Apartment.</li>
      <li class="list-group-item">• Working will not affect your Medicaid but if you lose all your SSI due to work you will need to fill out a form called Medicaid for Working People with Disabilities.</li>
    </ul>
  </div>
</div>
