<% provide(:title, "PASS Plan") %>

<div class="page-header">
  <h1>Plan to Achieve Self-Support (PASS)</h1>
</div>

<h4>What is Plan to Achieve Self- Support (PASS)?</h4>
<p>PASS allows an individual to set aside their own income and/or resources in
  special account, not counted for SSI purposes, to support their objectives and
  activities associated with assisting them in achieving a specific work goal.
  </p>
<h4>Who can have a PASS?</h4>
<p>If you receive SSI or could qualify for SSI after setting aside income or
  resources so that you may pursue a work goal, you could benefit from PASS.</p>
<h4>What are the requirements?</h4>
<p class="bold">Your PASS must:</p>
<ul class="list-group">
<li class="list-group-item">• Be designed especially for you.</li>
<li class="list-group-item">• Be in writing. Using the form SSA-545-BK, you can
  get copies at your local office, from a PASS expert, or by visiting <%=
  link_to "www.socialsecurity.gov/online/ssa-545.html",
    "https://www.socialsecurity.gov/online/ssa-545.html" %>.</li>
<li class="list-group-item">• Have a specific work goal that you are capable of
  performing.</li>
<li class="list-group-item">• Have a specific timeframe for reaching your goal.
  </li>
<li class="list-group-item">• Show what income you receive (other than SSI
  payments) and/or resources you have that you will use to reach your goal.</li>
<li class="list-group-item">• Show how you will use your income and resources to
  reach your work goal.</li>
<li class="list-group-item">• Show how the money you set aside will be kept
  separate from other funds.</li>
<li class="list-group-item">• Be approved and be reviewed periodically to assure
your plan in actually helping you make progress towards your work goal.</li>
</ul>

<h4>Impairment Related Work Expenses (IRWE)</h4>
<ul class="list-group">
<li class="list-group-item">• Are expenses related to a disability that are
  needed to work and are paid for by the individual.</li>
</ul>
<p class="red">For more information on PASS or IRWE please visit the <%= 
link_to "Social Security Administration", "https://www.ssa.gov" %> or call 1-800-772-1213 for PASS plan specialist.</p>
