/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*
 *
 *= require bootstrap-datepicker3
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#options {
  float: right;
  padding-right: 1.5em;
  padding-bottom: 0.25em;
}

#search_bar {
  margin-left: 45px;
  margin-right: 10px;
}

.dropdown-button {
  margin-top: 8px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

#dropdown_container {
  margin-right: 60px;
}

.instruction-text {
  display: inline;
  color: #A3A3A3;
  font-style: italic;
  padding-left: 0.25em;
}

body {
  padding-top: 70px;
}

.navbar-brand {
  margin-top: -13px;
}

#site_title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -20px;
}

.navbar_buttons {
  margin-top: 8px;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.admin_header {
  padding-left: 15px;
  padding-right: 15px;
}

.table_row {
  text-align: center;
}

#outer_wrapper {
  display: table;
  min-width: 100%;
}

#listings_table {
  display: table-cell;
  // float: none;
}

.logo_medium {
  height: 204px;
  width: 204px;
  text-align: center;
  border: 2px solid #A3A3A3;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

.logo_text {
  // Vertically center the text in the logo_medium div
  position: relative;
  top: 40%;
  transform: translateY(-55%);
}

.table-responsive {
  overflow-x: auto;
}

.side_panel_desc {
  position: relative;
  top: -30px;
  padding-left: 5px;
  padding-right: 5px;
}

.side_panel_heading {
  position: relative;
  top: -30px;
  padding-bottom: 20px;
}

// Side Panel

#fade-panel {
  min-width:230px;
  background:#F7F7F7;
  float: none;
  max-width: 300px;
  display: table-cell;
}

#opener {
  border-radius:0;
  width: 40px;
}

#content {
  height: 500px;
  width: 100%;
  float: left;
  padding-left: 5%;
}

//End Side Panel
