// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.red {
  color: red;
}

#home_body {
  background: url("https://s3.amazonaws.com/fountainhouse-bucket/ny_street_opt.jpg");
}

.twp_table {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.twp_table_heading {
  text-align: center;
}

#calc_small_heading {
  margin-top: -0.4em;
}

#slide-toggler {
  background-color: #F7F7F7;
}

#subtract-num {
  display: none;
}

#ssi-calculator {
  min-height: 210px;
}

#ssi-calculator .btn-primary {
  margin-top: 7px;
  float: left;
}

#result-container {
  float: left;
  margin-top: 10px;
  margin-left: 30px;
}

#primary-fields {
}

#effects-working {
  padding-top: 65px;
}

#new_amount_text {
  display: inline-block;
  font-weight: bold;
}

#wage_ssi_total {
  display: inline-block;
  font-weight: bold;
  padding-left: 40px;
}

#result {
  display: inline-block;
  font-weight: bold;
  color: red;
}

#total_result {
  display: inline-block;
  font-weight: bold;
  color: red;
}

#home_outer_wrapper {
  display: table;
  min-width: 385px;
}

#company_carousel_container {
  width: 204px;
  float: left;
  display: inline-block;
  margin-right: 25%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
  top: 150px;
}

#jobs_button {
  top: 50%;
  width: 204px;
  display: inline-block;
}

.page_content_wrapper {
  margin: 0 auto;
  width: 100%;
  display: table;
}

.page_content_box {
  display: table-cell;
  padding-left: 10px;
}

#buttons_wrapper {
  clear: left;
  overflow: auto;
  // margin-left: 15%;
  margin-left: 25%;
}

#home_fh_logo {
  margin-bottom: 20px;
}

.jumbotron {
  margin-left: -15px;
  min-width: 203px;
}

#greeting {
}
